body {
    margin: 0;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}
.page, .page1 {
    display: block;
    font-family: myFirstFont;
    font-size: 22px;
    line-height: 41px;
    margin: auto;
    text-align: center;
    letter-spacing: 4px;
    
    
    
    font-weight:100;
    font-size: 25px;
    letter-spacing: normal;
}
.page {
    padding: 0px;
}
.page1 {
    padding: 150px 70px;
}

a {
    color: black;
    text-decoration: none;
}
.page .sora{
    background-image:url("iphone_new_sooarI_border.png");
    background-repeat:no-repeat;
    background-repeat:no-repeat;
    background-size:384px 39px;
}

.sora{
    font-family: myFirstFontB;
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
    
    letter-spacing: normal;
}
.bsmla {
    
    font-family: myFirstFontB;
    font-size: 23px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    letter-spacing: normal;
}
.ayahH {
    background-color: #70BF32;
    background-image: radial-gradient(#A1E048, #6A942F);
    border-radius: 6px 6px 6px 6px;
}
