body {
    margin: 0;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}
.page, .page1 {
    display: block;
    font-family: myFirstFont;
    line-height: 80px;
    margin: auto;
    text-align: center;
    letter-spacing: 4px;

    font-weight:100;
    font-size: 50px;
    letter-spacing: normal;
}
.page {
    padding: 0px;
}
.page1 {
    padding: 190px 110px;
}

a {
    color: black;
    text-decoration: none;
}
.page .sora{
    background-image:url("ipad_new_sooarI_border.png");
    background-repeat:no-repeat;
    width:768px;
    height:92px;
    padding-top:7px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.sora{
    font-family: myFirstFontB;
    font-size: 42px;
    margin-bottom: 0;
    padding-bottom: 0;
    
    letter-spacing: normal;
}
.bsmla {
    
    font-family: myFirstFontB;
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    letter-spacing: normal;
}
.ayahH {
    color: red;
    border-radius: 6px 6px 6px 6px;
}
.ayahH1 {
    border-radius: 6px 6px 6px 6px;
}
/*.ayahH {
    background-color: #70BF32;
    background-image: radial-gradient(#A1E048, #6A942F);
    border-radius: 6px 6px 6px 6px;
}*/
